html, body {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  /*background: #4C789B;*/
  background: #fefefe;
}

hr {
  max-width: 100px;
  border-color: #f05f40;
  border-width: 2px;
  border-radius: 50%;
}

a {
  color: #f05f40;
  text-decoration: none;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

section {
  padding: 80px 0;
}

.navbar-light {
  width: 100%;
  background-color: #fefefe;
}

.navbar-brand > img {
  width: 60px;
  height: 60px;
}

#navbarToggler {
  padding-left: 5%;
}

#nav-about,
#nav-skills,
#nav-projects {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

#navbarToggler ul > li > a:hover,
#navbarToggler ul > li > a:focus:hover {
  color: #f05f40;
}

.navbar-nav {
  padding-top: 1%;
}

.navbar-toggler {
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.custom-toggler {
  color: #333;
}

#profile {
  position: relative;
  padding-top: 160px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#profile > .header-content {
  position: relative;
  width: 100%;
  text-align: center;
}

#profile > .header-content > .header-content-inner > h1 {
  margin-bottom: 0;
  font-weight: 700;
}

#profile > .header-content > .header-content-inner > hr {
  margin: 30px auto;
}

#profile > .header-content > .header-content-inner > p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
}

.container {
  padding-top: 5%;
}

.btn-orange {
  padding: 15px 30px;
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f05f40;
  display: inline-block;
  line-height: 1.42857143;
}

.btn-orange:hover {
  background-color: #eb3812;
  text-decoration: none;
}

.btn-orange span {
  color: #fefefe;
}

.about > p {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

.photo img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 1px solid rgba(50, 50, 50, 1);
}

.description {
  padding-top: 15px;
}

.degree {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  display:block;
}

.name {
  font-weight: bold;
  font-size: 24px;
}

.description.degree, .description.address {
  font-size: 16px;
}

.job {
  font-weight: 50;
  font-size: 18px;
  display: block;
  color: #f05f40;
}

.email {
  padding-top: 20px;
  color: #333;
  font-weight: 90;
  font-size: 15px;
  text-decoration:none !important;
  text-decoration:none;
}

.email:hover {
  color: #f05f40;
}

.phone {
  font-size: 15px;
}

.social {
  padding-top: 30px;
}

.icon {
  height: 50px;
  width: 55px;
  display: inline-block;
}

.contact > p {
  padding: 0px;
}

.fab {
  color:#333;
}

.fab:hover {
  color: #f05f40;
}

@media(max-width:768px) {
  #navbarToggler {
    background-color: transparent;
  }

  #navbarToggler > li > a,
  #navbarToggler > li > a:focus {
    color: rgba(255,255,255,.7);
  }

  #navbarToggler > li > a:hover,
  #navbarToggler > li > a:focus:hover {
    color: #fff;
  }

  #navbarToggler.affix {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
  }

  #navbarToggler.affix > li > a,
  #navbarToggler.affix > li > a:focus {
    color: #222;
  }

  #navbarToggler.affix > li > a:hover,
  #navbarToggler.affix > li > a:focus:hover {
    color: #f05f40;
  }

  .btn-orange {
    font-size: 1em;
  }

}